* {
    box-sizing: border-box;
    margin: 0;

}

@font-face {
    font-family: 'ray';
    font-style: normal;
    src: url('./font/Rye-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto';
    font-style: normal;
    src: url('./font/Roboto-Regular.ttf') format('truetype');
}

body {
    min-height: 100vh;
    background-image: url(./img/5_background/desert-background.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'ray', Arial, Helvetica, sans-serif;
}

.d-none {
    display: none !important;
}

.main-container {
    height: 100vh;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.top-container {
    width: 100%;
    max-width: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.game-arrea {
    width: 100%;
    max-width: 740px;
    height: 480px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-screen {
    height: 100%;
    width: 100%;
    background-image: url(./img/9_intro_outro_screens/start/startscreen_1.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    border: 10px ridge #F8D995;
}

.start-btn {
    position: absolute;
    margin-top: 3rem;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #fccb2b;
    text-shadow: -3px 3px 2px rgb(210, 119, 0);
}

.restart {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #4a0000;
    text-shadow: -3px 1px 2px #fccb2b;
    text-decoration: underline;
}

.help-bar {
    position: absolute;
    left: -190px;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 224, 130, 0.7);
    border-radius: 5px;
    padding: 0 10px;
    width: 150px;
}

canvas {
    background-color: black;
    border: 10px ridge #F8D995;
    box-shadow: 0px 0px 9px 2px black;
    display: block;
}

button {
    font-family: 'ray', Arial, Helvetica, sans-serif;
}

button:hover {
    cursor: pointer;
    font-size: 2.5rem;
}

h1 {
    font-size: 4rem;
    text-decoration: underline;
    text-shadow: -5px 4px 16px black;
}

.title {
    color: whitesmoke;
    font-size: 2rem;
    text-shadow: -5px 4px 5px black;
}

h2 {
    color: #dc7500;
}

footer {
    display: flex;
    gap: 2rem;
}

footer a {
    text-shadow: 0px 0px 6px #fde2aa;
}

a {
    color: rgb(33, 34, 0);
    font-style: italic;
    text-decoration: underline;
    font-family: 'ray', Arial, Helvetica, sans-serif;
}

a:hover {
    cursor: pointer;
}


.privacy-policy-body {
    width: 100%;
    background-image: none;
    font-family: 'roboto', Arial, Helvetica, sans-serif !important;
    padding: 2rem 1rem;
}

.privacy-policy {
    width: 100%;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    font-family: 'roboto', Arial, Helvetica, sans-serif !important;
}

.privacy-policy a {
    font-family: 'roboto', Arial, Helvetica, sans-serif !important;
}

.privacy-policy-body h1 {
    padding-top: 4rem;
    text-align: center;
    text-shadow: none;
    font-size: 3rem;
}

.privacy-policy-body img:hover {
    cursor: pointer;
}

.privacy-policy-body h2 {
    padding-top: 16px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top-row {
    width: 100%;
    padding: 24px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: flex-end;
    flex-direction: column-reverse;
}

.mobile-row {
    width: 100%;
    display: none;
    justify-content: space-between;
    padding: 16px;
    padding-bottom: 16px;
    align-items: center;
}

.move {
    display: flex;
    gap: 16px;
    align-items: center;
}

.move img {
    padding: 5px;
    border: solid 2px black;
    border-radius: 100%;
    background-color: #F8D995;
}

.throw-btn {
    rotate: 90deg;
}

#info {
    display: none;
}

.turn-overlay {
    display: none;
}

@media (max-width: 1160px) {
    .help-bar {
        left: 0px;
    }

    #info {
        display: flex;
    }

    .mobile-row {
        display: flex;
    }
}

@media (max-width: 740px) {
    canvas {
        width: 100%;
    }

    .game-arrea {
        width: 100%;
    }

    .top-container {
        width: 100%;
    }

    footer {
        display: none;
    }

    .main-container {
        padding: 0;
    }

    .top-container h1 {
        font-size: 2rem;
        padding-top: 2rem;
    }

}

@media (max-width: 600px) {
    .turn-overlay {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        width: 100%;
        height: 100%;
        text-align: center;
    }
}

@media (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    .game-arrea {
        height: 100vh;
    }

    .top-container {
        height: 100vh;
        margin-top: 0;
    }

    .main-container {
        padding: 0;
    }

    .top-container h1 {
        display: none;
    }

    .start-btn {
        margin-top: 1rem;
    }

}